*.suo
ComicRackWebViewer/bin/Debug/
ComicRackWebViewer/bin/
ComicRackWebViewer/obj/
ComicRackWebViewer/tablet/build
*.crplugin
*.user
packages/
ComicRackWebViewer/tablet/archive
.sass-cache
obj
bin
# Visual Studio  cache/options directory
.vs/